.popupContainer{
  display: flex;
  gap: 2rem;

  img{
    width: 6.4rem;
    height: 4.8rem;
    object-fit: cover;
    border-radius: 5px;
  }

  .textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;

    .room-info {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
}