@import "../../responsive.scss";

.card {
  display: flex;
  gap: 2rem;

  .image-container {
    flex: 2;
    height: 20rem;

    @include md {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;

      @include lg {
        width: 75;
      }
    }
  }

  .text-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    img {
      width: 1.6rem;
      height: 1.6rem;
    }

    .title {
      font-size: 2rem;
      font-weight: 600;
      color: #444;
      transition: all .2s ease;

      &:hover {
        background: linear-gradient(to right, #444 0%, #fece50 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateX(.4rem);
      }
    }

    .address {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      gap: .5rem;
      color: #888;
    }

    .price {
      font-size: 2rem;
      font-weight: 300;
      padding: .5rem;
      border-raidus: .5rem;
      background: linear-gradient(to bottom right, #FFF5E4 20%, #fece50 100%);
      border-radius: .5rem;
      width: max-content;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .features {
        display: flex;
        gap: 20px;
        font-size: 14px;

        .feature {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;
        }
      }

      .icons {
        display: flex;
        gap: 20px;

        .icon {
          border: 1px solid #999;
          padding: 2px 5px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
}