.feature {
    display: flex;
    font-size: 1.2rem;
    gap: 1rem;

    img {
        width: 3rem;
        height: 3rem;
    }

    .featureText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            font-weight: bold;
        }
    }
}