.auth-layout {
    background-color: #5a5858;
    background-image: url("../../../../public/auth_page/bg_auth_page.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}