@import "../../responsive.scss";

nav{
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      display: flex;
      flex: 1;
      align-items: center;
      font-weight: bold;

      span{
        font-size: 1.3rem;
      }

      img{
        width: 3rem;
        margin-right: .5rem;
      }
    }

    ul{
      display: flex;
      flex: 2;
      list-style-type: none;
      gap: 2rem;
      font-size: 1.2rem;

      @include sm{
        display: none;
      }

      li{
        transition: all 0.4s ease;

        &:hover{
          scale: 1.05;
        }
      }
    }
  }
  .right{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcf5f3;

    a{
      padding: 1.2rem 2.4rem;
      margin: 2rem;
    }

    .register{
      padding: 1rem;
      background-color: #fece51;
      border-radius: .3rem;
    }
  }
}